<!-- Start webapp/view/jpulse-header.tmpl -->
<!--
 * @name            jPulse Framework / WebApp / View / Header Template
 * @tagline         Header template for jPulse pages
 * @description     Common header included in all jPulse pages
 * @file            webapp/view/jpulse-header.tmpl
 * @version         1.1.3
 * @release         2025-11-10
 * @repository      https://github.com/jpulse-net/jpulse-framework
 * @author          Peter Thoeny, https://twiki.org & https://github.com/peterthoeny/
 * @copyright       2025 Peter Thoeny, https://twiki.org & https://github.com/peterthoeny/
 * @license         BSL 1.1 -- see LICENSE file; for commercial use: team@jpulse.net
 * @genai           60%, Cursor 1.7, Claude Sonnet 4
-->
<!-- Favicon and manifest links -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">

<!-- jPulse Component Library - Framework Core -->
<link rel="stylesheet" href="/jpulse-common.css?t={{file.timestamp "jpulse-common.css"}}">

<!-- Prism.js Syntax Highlighting -->
<link rel="stylesheet" href="/common/prism/prism.css">

<!-- Site-Specific Styles (W-047) -->
{{#if file.exists "site-common.css"}}
<link rel="stylesheet" href="/site-common.css?t={{file.timestamp "site-common.css"}}">
{{/if}}

<!-- Prism.js Syntax Highlighting -->
<script src="/common/prism/prism.js"></script>
<script src="/common/prism/prism-clike.js"></script>
<script src="/common/prism/prism-markup.js"></script>
<script src="/common/prism/prism-css.js"></script>
<script src="/common/prism/prism-javascript.js"></script>
<script src="/common/prism/prism-json.js"></script>

<!-- jPulse Common Utilities -->
<script src="/jpulse-common.js?t={{file.timestamp "jpulse-common.js"}}"></script>

<!-- Site-Specific JavaScript (W-047) -->
{{#if file.exists "site-common.js"}}
<script src="/site-common.js?t={{file.timestamp "site-common.js"}}"></script>
{{/if}}

<!-- EOF webapp/view/jpulse-header.tmpl -->
